.inicial h1{
    margin: 1.5em;
    padding: 1.5em;
    border: 5px solid red;
    display: flex;
    
}



.topInfo li{
    float:left; 
    background:gray;
    width:50%;
    height:20px;
    line-height: 1.5;

}